@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Manrope:wght@200..800&display=swap');

*{ /* reset basico */
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

header{
    background-color: rgb(3, 101, 255);
    padding-top: 30px;
    padding-bottom: 40px;
}

.logo{
    margin-left: 30px;
    margin-right: 200px;
    display: inline-block;
}

header img{
    width: 200px; 
}

.menu{
    display: inline-block;
    padding-left: 40px;
}

nav a{
    margin: 10px;
    text-decoration: none;
    color: rgb(3, 101, 255);
    font-weight: 1000;
    font-size: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
}

nav a:hover{
    background-color: rgba(240, 248, 255, 0.781);

}

.banner-m img{
    width: 700px;
    border-radius: 20px;
    height: 210px;
}

.banner{
    display: flex;
}

.banner-p{
    display: inline-block;
    margin-top: 90px;
    margin-left: 80px;
    background-color: rgb(3, 101, 255);
    color: white; 
    padding: 30px;
    border-radius: 20px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-size: 20px;
    
}

.banner-m{
    display: inline-block;
    margin-left: 50px;
    margin-top: 70px;
    margin-right: 50px;
}

.h2-sobre{
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: rgb(0, 54, 141);
    font-size: 70px;
    margin-top: 80px;
}

.sobre{
    text-align: center;
}

.banner{
    width: 100%;
}

.card-sobre{
    background-color: rgb(3, 101, 255);
    display: inline-block;
    width: 230px;
    text-align: center;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.fotos-sobre{
    background-color: rgb(3, 101, 255);
}

.fotos-sobre img{
    display: inline-block;
    width: 600px;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
}

.card-sobre:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.sobre img{
    width: 400px;
    border-radius: 10px;
}

.div-sobre{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

footer{
    background-color: rgb(3, 101, 255);
    color: white;
}

.logo img{
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.redes-sociais{
    display: inline-block;
    margin-left:130px;
}

.redes-sociais img{
    width: 30px;
    margin: 10px;
}

.copyright{
    display: inline-block;
    margin-left:42px;
    margin-bottom: 20px;
}


